 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="{% url 'home' %}" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3" style="font-style:blue"></i>name </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            {% comment %} 
            {% if user.is_authenticated %}
            <a href="{% url 'user_det' %}" class="nav-item nav-link">User list</a>
            {% else %}
            {% endif %} {% endcomment %}
            <a href="" class="nav-item nav-link">Fill today's carbon emmision</a>
            <a href="{% url 'earthquake' %}" class="nav-item nav-link">Maps</a>
            <a href="{% url 'user_details' %}" class="nav-item nav-link">Carbon emmited %</a>
            <a href="{% url 'signin' %}" class="nav-item nav-link active">Login</a>
            <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
            <a href="{% url 'signout' %}" class="nav-item nav-link">Logout</a>
            
        </div>
    </div>

</nav>

<!-- Navbar End -->
